@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  background: linear-gradient(to bottom right, #204, rgb(30,10,30), #204);
  height: 100vh;
  margin:0;
  padding:0;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

}

p{
  margin: 0px;
}

button{
  overflow: hidden;
}

.results{
  border: 2px solid white;
}

#title{
  color: white;
  text-align: center;
  background-color: black;
  width:100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.v{
  flex-direction: column;
}

.h{
  flex-direction: row;
}

.holder{
  border-radius: 1vw;
  background: black;
  color: white;
  height: 25vh;
  width: 25vh;
  margin: 10px;
  font-size: 6vh;
  font-weight: bold;
  text-align: center;
  transition: 0.1s;
}

.big{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:80vh;
}

.ROCK{
  background: url(ROCK.jpeg); /* Photo by Marjan Blan | @marjanblan on Unsplash */
}

.PAPER{
  background: url(PAPER.jpeg); /*Photo by Lubo Minar on Unsplash*/
}

.SCISSORS{
  background: linear-gradient(to bottom right, #111, rgb(100,100,100), #999);
}

.explain{
  font-size: 2vh;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom{
  color: white;
  text-align: center;
  background-color: black;
  width:100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bounce{
  transform: scale(1.1);
  border-color: hsl(300, 100%, 15%);
  box-shadow: 0 0 10px #ffc600;
}

.redslash{
  background: linear-gradient(to bottom right, #204, rgb(100,0,0), #204);
}

.whiteslash{
  background: linear-gradient(to bottom right, #204, #555, #204);
}

.off{
  border: 2px solid black;
}
